* {
  --dark-button: #111a1d;
  --light-button: #78bdce;
  --dark-background: #192734;
  --light-background: #557a95;
  --dark-text: #111a1d;
  --light-text: #d8dee6;
  --head-background: #304961;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.dark-mode {
  background-color: var(--dark-background);
  color: var(--light-text);
}
.dark-mode i {
  color: var(--light-button);
}
.dark-mode .btn {
  background-color: var(--light-button);
  color: var(--dark-text);
}
.light-mode {
  background: linear-gradient(#7395ae, #557a95);
  color: var(--dark-text);
}
.light-mode i {
  color: var(--dark-button);
}
.light-mode input,
textarea {
  background-color: var(--head-background);
}
.light-mode .btn {
  background-color: var(--dark-button);
  color: var(--light-text);
}
#dark {
  position: absolute;
  cursor: pointer;
  font-size: 24px;
  top: 2vh;
  left: 90vw;
}
.upper-container {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  align-items: center;
  font-size: 1.5em;
  background-color: var(--head-background);
}
#logo {
  margin-top: 1rem;
  font-size: 2.25em;
}
.loading-wrapper {
  width: 100%;
  height: 100%;
}
.loading {
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alert {
  top: 0;
  height: 3rem;
  width: 100%;
  position: fixed;
  z-index: 1000;
  font-size: 1.25rem;
  color: var(--dark-text);
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-red {
  background-color: #f06565;
}
.alert-success {
  background-color: #79e979;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}
form {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 1em;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border: none;
  width: 100%;
  cursor: pointer;
}
label {
  font-size: 1.5rem;
}
input {
  height: 2rem;
  border-radius: 10px;
  background-color: #d8dee6;
}
#author {
  margin-top: 0.5rem;
}
#entry {
  height: 28vh;
  background-color: #d8dee6;
}
#entry:focus {
  transform: scaleY(1.2);
  transition: 0.8s ease-in-out;
}
form .btn {
  margin-top: 1rem;
  width: 100%;
  height: 2.25rem;
  border: none;
  border-radius: 10px;
}
.entry-section {
  background-color: var(--head-background);
}

table {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.entry-section h2 {
  text-align: center;
  margin-top: 1rem;
}
tbody {
  display: grid;
  grid-template-rows: auto;
  /* gap: 1rem; */
}

.entry-row {
  font-family: sans-serif;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  font-size: 1rem;
  border-bottom: 3px solid var(--light-text);
  box-shadow: 0 1em 1em #333;
}
tbody:first-of-type {
  border-top: 3px solid var(--light-text);
}

/* .entry-row div {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: stretch;
} */
.entry-delete {
  justify-self: end;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 1.2rem;
}

@media only screen and (max-width: 500px) {
  .upper-container {
    font-size: 1.25em;
    height: 10vh;
  }
  .container {
    height: 80vh;
    padding-bottom: 1rem;
  }
  #logo {
    font-size: 2.5rem;
    margin: 0;
    margin-right: 1rem;
  }
  .form-group {
    font-size: 2rem;
  }
  input,
  textarea {
    font-size: 1.2rem;
  }
  #entry {
    height: 33vh;
  }
  #entry:focus {
    transform: scaleY(1);
    transition: 0.8s ease-in-out;
  }
}
